NUM_CLASSES : 200

RANDOM_SEED : 1.0

SESSION_CONFIG : {
  PER_PROCESS_GPU_MEMORY_FRACTION : 0.9
}

MAX_NUM_BBOXES : 1

# Image Processing 
INPUT_SIZE : 299
IMAGE_MEAN : 128
IMAGE_STD : 128
INPUT_TYPE : whole_image_input
MAINTAIN_ASPECT_RATIO : true
AUGMENT_IMAGE : true
IMAGE_AUGMENTATIONS : {
  CROP : true,
  CROP_UPSCALE_FACTOR : 1.24,
  FLIP_LEFT_RIGHT : true,
  BRIGHTNESS : false,
  CONTRAST : false
}

# Input queues to the model
NUM_INPUT_THREADS : 2
BATCH_SIZE : 32

NUM_TRAIN_ITERATIONS : 50000
# The number of batch iterations used to compute the global mean and variance
NUM_PREP_ITERATIONS : 150

LEARNING_RATE : 0.01
LEARNING_RATE_DECAY_STEPS : 1000
LEARNING_RATE_DECAY : 0.94
LEARNING_RATE_STAIRCASE : true

RMSPROP_DECAY : 0.9
RMSPROP_EPSILON : 1.0

MOVING_AVERAGE_DECAY : 0.99

SAVE_EVERY_N_ITERATIONS : 500